.box_small{
    height: 100px;
    width: 100px;
    background-color: red;
}

.box_big{
    height: 200px;
    width: 200px;
    background-color: blue;
}

.box_1{
    flex-direction: row;
    display:flex; 
    background-color: pink;
}

.box_2{
    flex-direction: row;
    display:flex; 
    background-color: green;
}

.box_3{
    flex-direction: row; 
    display:flex; 
    background-color: blueviolet;
}


